#header {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 25 px;
  font-weight: bold;
  color: orangered;
}

#board {
  background-color: transparent;
  position: relative;
  margin-right: auto;
  margin-left:auto;
}

#restart {
  text-align: center;
}

body {
  background-image: url("../images/galaxia.jpeg");
}

h3 {
  text-align: center;
}
