#header {
  text-align: match-parent;
  font-family: Comic Sans MS;
  font-size: 25 px;
  font-weight: bold;
  color: orange;
}

#board {
  position: absolute;
}

body {
  background-image: url("../images/sunset.jpg");
}

h3 {
  text-align: center;
}
